<div class="hero-unit">
  <h1>Magic Accounts</h1>
<p>Managing expenses made easy ... Almost easier than forgetting !</p>
<br/><br/>
<div class="site_features">
  <div class="feature_group">
    <div class="feature_info">
      <%= image_tag('icons/Group.png', :size => "64x64", :class => "dev-image") %>
      <h4>GROUPS</h4>
      <p class="feature_desc">We are part of many communities in today's fast paced world. We stay with friends and at the same time are part of a Work Group/ Music Orchestra/ Sports Team/ Dance Group and other Peer groups. Invite your friends to your groups or be invited to your friends groups and manage expenses between your peer groups. You don't have to keep tabs, maintain tedious excel sheets about who you paid how much anymore and you don't have to worry about asking them ! Log it in & forget ! Let Magic Accounts take care of the rest</p>
    </div>
    <div class="feature_info">
      <%= image_tag('icons/Transaction.png', :size => "64x64", :class => "dev-image") %>
      <h4>TRANSACTIONS</h4>
      <p class="feature_desc">Enter multiple transactions and view them at the same time. Ability to track a personal expense like paying your telephone bill or Track a shared expense like a dinner with your friends or Go shopping with your friends and track a bill that is not equally shared between your friends everything from the same view. Know how much you owe/get paid from your peers in a group transaction and more !</p>
    </div>
  </div>
  <div class="feature_group">    
    <div class="feature_info">
      <%= image_tag('icons/Charts.png', :size => "64x64", :class => "dev-image") %>
      <h4>REPORTS</h4>
      <p class="feature_desc">Analyze how you spend and where your money is spent with intuitive charts and graphics that will point you to how exactly and when you have spent your money and on what categories.</p>
    </div>
    <div class="feature_info">
      <%= image_tag('icons/Users.png', :size => "64x64", :class => "dev-image") %>
      <h4>PERSONAL GROUPS</h4>
      <p class="feature_desc">Create your own private personal group without inviting your friends and maintain your expenses within that group. Analyze your personal transactions separately with intuitive reports without exposing them to your friends !</p>
    </div>
  </div>
  <div class="feature_group">
    <div  class="feature_info">
      <%= image_tag('icons/Health.png', :size => "64x64", :class => "dev-image") %>
      <h4>INTUITIVE AND INTELLIGENT</h4>
      <p class="feature_desc">An intuitive user interface with easy navigation, simple to interpret balance sheets, timely progress alerts, email notifications and ridiculously simple management. All at absolutely no cost. Its FREE !</p>
    </div>
  </div>
</div>
<br/>
<p>
<a class="btn btn-primary btn-large" href='<%= new_user_path %>'>
Register Now</a>
</p>
</div>