<!-- _expense_group.html.erb -->
<div class="modal fade" id="mg-expense-group" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center lead" id="myModalLabel"><strong>Select Group</strong></h4>
      </div>
      <div class="modal-body">
        <p class="text-warning text-center"><i class="icon-warning-sign"></i>&nbsp;&nbsp; Changing group will reset the form</p>
        <div class="list-group">
          <% current_user.user_groups.each do |group| %>
            <a href="javascript:void(0)" class="clearfix list-group-item" group_name="<%= group.name %>" group_id="<%= group.id %>">
              <div class="col-xs-10">
                <%= group.name %>
              </div>
              <div class="col-xs-2">
                <span class="icon-stack text-success pull-right <%= f.object.group.id == group.id ? "" : "hidden" %> group_<%= group.id %>">
                  <i class="icon-circle icon-stack-base"></i>
                  <i class="icon-ok icon-light icon-child"></i>
                </span>
              </div>
            </a>
          <% end %>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<%= f.hidden_field :group_id, :value => f.object.group_id %>

<script type="text/javascript">
  jQuery(document).on('click', "#mg-expense-group .list-group-item", function(e){
    var group_id = jQuery(this).attr('group_id');
    Utilities.redirectTo(e, '<%= new_transaction_path %>?groupid='+group_id);
  });

  jQuery('#mg-expense-group').on('hide.bs.modal', function(e){
    var group_name = jQuery("#transaction_group_id").attr("group_name");
    
    if(group_name != "" && group_name != undefined)
      jQuery('#mgexpensegroup .toggle-on').text(group_name);
    else
      jQuery('#mgexpensegroup').click();
  });
</script>