<!-- _expense_spender.html.erb -->
<div class="modal fade" id="mg-expense-payer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header info">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center lead" id="myModalLabel"><strong>Expense Paid By</strong></h4>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <% friends.each do |user| %>
            <a href="javascript:void(0)" class="clearfix list-group-item" payer_name="<%= user.name %>" payer_id="<%= user.id %>">
              <div class="col-xs-10">
                <%= render_user_image(user, {:class_name => "img-circle", :user_name_class => "username"}).html_safe %>
              </div>
              <div class="col-xs-2">
                <span class="icon-stack text-success pull-right hidden payer_<%= user.id %>">
                  <i class="icon-circle icon-stack-base"></i>
                  <i class="icon-ok icon-light icon-child"></i>
                </span>
              </div>
            </a>
          <% end %>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<%= f.hidden_field :user_id, :value => f.object.user_id %>

<script type="text/javascript">
  jQuery(document).on('click', "#mg-expense-payer .list-group-item", function(e){
    var user_id = jQuery(this).attr('payer_id');
    var user_name = jQuery(this).attr('payer_name');
    jQuery("#mg-expense-payer .list-group-item .icon-stack").addClass("hidden");
    jQuery(".payer_" + user_id).removeClass("hidden");
    jQuery("#transaction_user_id").val(user_id).attr("payer_name", user_name);
    jQuery('#mg-expense-payer').modal('hide');
  });

  jQuery('#mg-expense-payer').on('hide.bs.modal', function(e){
    var user_name = jQuery("#transaction_user_id").attr("payer_name");
    
    if(user_name != "" && user_name != undefined)
      jQuery('#mgexpensepayer .toggle-on').text("Paid By " + user_name);
    else
      jQuery('#mgexpensepayer').click();
  });
</script>