<%= f.hidden_field :transaction_type, :value => f.object.transaction_type %>
<%= f.fields_for :transactions_users do |tu_form| %>
  <div id="mg-expense-users-<%= tu_form.object.user_id %>">
    <%= tu_form.hidden_field :user_id, :value => tu_form.object.user_id %>
    <%= tu_form.hidden_field :transaction_id, :value => tu_form.object.transaction_id %>
    <%= tu_form.hidden_field :amount, :value => tu_form.object.amount, :class => "mg-txn-user-amount" %>
    <%= tu_form.hidden_field :amount_paid, :value => tu_form.object.amount_paid, :class => "mg-txn-user-amount-paid" %>
    <%= tu_form.hidden_field :_destroy, :value => tu_form.object.amount.blank?, :class => "mg-txn-user-destroy" %>
  </div>
<% end %>

<!-- _expense_benefactors.html.erb -->
<div class="modal fade" id="mg-expense-beneficiary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center lead" id="myModalLabel"><strong>Expense Benefactors</strong></h4>
      </div>
      <div class="modal-body clearfix">
        

        <div id="mg-expense-type">
          <ul id="mg-transaction-type" class="nav nav-tabs lead">
            <li transaction-type="1" class=" col-xs-4 text-center"><a href="#mg-split-equally" data-toggle="tab"><i class="text-info icon-align-justify"></i></a></li>
            <li transaction-type="2" class=" col-xs-4 text-center"><a href="#mg-split-unequally" data-toggle="tab"><i class="text-warning icon-align-center"></i></a></li>
            <li transaction-type="3" class=" col-xs-4 text-center"><a href="#mg-personal-expense" data-toggle="tab"><i class="text-danger icon-circle"></i></a></li>
          </ul>
          <br/>

          <div id="myTabContent" class="tab-content">
            <%= render :partial => "transactions/modals/expense_equal_split", :locals => {:f => f} %>
            <%= render :partial => "transactions/modals/expense_exact_amount", :locals => {:f => f} %>
            <div class="tab-pane transaction_type_3 fade" id="mg-personal-expense">
              <h4 class="text-center lead text-muted"> Record a Personal Expense (<span class=" mg-transaction-total-amount"><%= f.object.amount || 0 %></span>)</h4>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-success" onclick="jQuery('#mg-expense-beneficiary').modal('hide')">Done</button> 
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
  // reset the form values & transaction type values on tab change
  jQuery('#mg-transaction-type a').click(function (e) {
    e.preventDefault();
    jQuery(this).tab('show');
    jQuery("#transaction_transaction_type").val(jQuery("#mg-transaction-type li.active").attr('transaction-type'));
    Transaction.setTransactionUserAmount();
  })

  // Setting the default tab type to the form
  jQuery('#mg-expense-beneficiary').on('shown.bs.modal', function (e) {
    jQuery("#transaction_transaction_type").val(jQuery("#mg-transaction-type li.active").attr('transaction-type'));
  })

  // Set the form and state of the benefactors on hide
  jQuery('#mg-expense-beneficiary').on('hide.bs.modal', function(e){
    var transaction_type = jQuery("#transaction_transaction_type").val();
    var beneficiary_text_hash = {"1": "Split Equally", "2": "Split By Exact Amount", "3": "Personal Expense"} 
    if(jQuery.inArray(transaction_type, ["1","2","3"]) != -1)
    {
      Transaction.setTransactionUserAmount();
      jQuery("#mgexpensebeneficiary .toggle-on").text(beneficiary_text_hash[transaction_type]).siblings('label').removeClass('toggle-off');;
    }
    else
      jQuery('#mgexpensebeneficiary').click();
  });

  // setting the form values on changing the amount value
  jQuery('#transaction_amount').on("input", function(){
    Transaction.setTransactionUserAmount();  
  });
</script>