<div class="tab-pane transaction_type_2 fade" id="mg-split-unequally">
  <h4 class="text-center lead text-muted">Assign Exact Amounts (<span class=" mg-transaction-total-amount"><%= f.object.amount || 0 %></span>)</h4>
  <ul class="list-group">
    <% f.object.transactions_users.each do |transaction_user| %>
      <li class="list-group-item clearfix" user_name="<%= transaction_user.user.name %>" user_id="<%= transaction_user.user.id %>">
        <div class="col-xs-6">
          <%= render_user_image(transaction_user.user, {:class_name => "img-circle", :user_name_class => "clearfix"}).html_safe %>
        </div>
        <div class="col-xs-6 mg-exact-user-amount">
          <input type="number" class="text-center form-control" placeholder="0.00" value="<%= (transaction_user.amount || 0.00) > 0 ? transaction_user.amount : "" %>">
        </div>
      </li>
    <% end %>
  </ul>
  <div class="pull-right lead text-muted"><span id="mg-amount-left">0.00</span> left</div>
</div>

<script type="text/javascript">
  jQuery(document).on('input', "#mg-split-unequally .list-group-item input", function(e){    
    Transaction.setAmountLeft();
  });
</script>