<div class="tab-pane transaction_type_1 fade" id="mg-split-equally">
  <h4 class="text-center lead text-muted">Divide Amount Equally (<span class=" mg-transaction-total-amount"><%= f.object.amount || 0 %></span>)</h4>

  <div class="list-group">
    <% f.object.transactions_users.each do |transaction_user| %>
      <a href="javascript:void(0)" class="clearfix list-group-item" user_name="<%= transaction_user.user.name %>" user_id="<%= transaction_user.user.id %>">
        <div class="col-xs-6">
          <%= render_user_image(transaction_user.user, {:class_name => "img-circle", :user_name_class => "clearfix"}).html_safe %>
        </div>
        <div class="col-xs-4">
          <span class="text-muted"><%= transaction_user.amount || 0.00 %></span>
        </div>
        <div class="col-xs-2">
          <span class="icon-stack text-success pull-right <%= (transaction_user.amount || 0.00) > 0 ? "" : "hidden" %> user_<%= transaction_user.user.id %>">
            <i class="icon-circle icon-stack-base"></i>
            <i class="icon-ok icon-light icon-child"></i>
          </span>
        </div>
      </a>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  jQuery(document).on('click', "#mg-split-equally .list-group-item", function(e){
    var user_id = jQuery(this).attr('user_id');
    jQuery(".user_" + user_id).toggleClass("hidden");
    Transaction.setEqualAmount();
  });
</script>