<tr class="mg-group-entry">
  <td class="text-center">
    <span class="icon-stack icon-2x">
      <i class="icon-sign-blank icon-stack-base"></i>
      <i class="icon-sitemap icon-light icon-child"></i>
    </span>
  </td>
  <td>   
    <div class="mg-group-name col-sm-12 remove-left-gutter remove-right-gutter">
      <%= link_to(group_path(entry), :class=>"text-primary") do %>
        <h5><b><%= entry.name %></b></h5>
      <% end %>
    </div>
    
    <%= link_to edit_group_path(entry), :class => "mg-edit-link" do %>
      <span class="icon-stack text-muted">
        <i class="icon-sign-blank icon-stack-base"></i>
        <i class="icon-pencil icon-light"></i>
      </span>
    <% end %>
    <%= link_to group_path(entry), :method => :delete, :class => "mg-delete-link" do %>
      <span class="icon-stack text-danger">
        <i class="icon-sign-blank icon-stack-base"></i>
        <i class="icon-trash icon-light"></i>
      </span>
    <% end %>
  </td>

  <td> 
    <% display_text, display_class = get_owner_member_details(current_user, entry) %>
    <span class="label label-<%= display_class %>">
      <%= display_text %>
    </span>
  </td>
</tr>