<ul id ="tranact" class="nav nav-list">
<li class="nav-header">Transactions</li>
<% if activitytransactions.empty? %>
  <li>There is no activity for this section</li>
<%else%>
<% activitytransactions.each_with_index do |act,index| break if index == limit  %>
  <li><strong><%=  User.find_by_id(act.user_id).name %></strong> <%= " " + act.activity + " " %><% if Transaction.find_by_id(act.commentable_id) %> <%= link_to truncate(act.content, :length => 15), :controller => type, :action => 'show', :id => act.commentable_id  %> <% else %><%= truncate(act.content, :length => 15) %> <% end %><span id="litetext"><%= " " + time_ago_in_words(Time.parse(act.created_at.to_s))  %></span> </li>
<% end %>
<% end%>
</ul>




