<% user_friends = current_user.user_groups.collect(&:users).flatten.uniq %>
<div id="mg-transaction-create">
  <fieldset>
    <div class="input-group">
      <span class="input-group-addon remove-top-gutter remove-bottom-gutter">
        <span class="icon-stack">
          <i class="icon-sign-blank icon-stack-base"></i>
          <i class="icon-money icon-light icon-child"></i>
        </span>
      </span>
      <input type="number" class="text-center form-control" id="mg-expense-money" placeholder="0.00">
      <a href="javascript:void(0)" class="input-group-addon expense-param-edit remove-top-gutter remove-bottom-gutter">
        <i class="icon-pencil icon-light icon-child"></i>
      </a>
    </div>

    <div class="input-group">
      <span class="input-group-addon remove-top-gutter remove-bottom-gutter">
        <span class="icon-stack">
          <i class="icon-sign-blank icon-stack-base"></i>
          <i class="icon-font icon-light icon-child"></i>
        </span>
      </span>
      <textarea class="form-control text-center img-circle" rows="2" id="textArea"  placeholder="Enter Expense Summary"></textarea>
      <a href="javascript:void(0)" class="input-group-addon expense-param-edit remove-top-gutter remove-bottom-gutter">
        <i class="icon-pencil icon-light icon-child"></i>
      </a>
    </div>

    <div class="input-group">
      <span class="input-group-addon remove-top-gutter remove-bottom-gutter">
        <span class="icon-stack">
          <i class="icon-sign-blank icon-stack-base"></i>
          <i class="icon-calendar icon-light icon-child"></i>
        </span>
      </span>
      <!-- Green to Red -->
      <div class="mg-expense-toggle off toggle btn btn-lg btn-success" target-element="#mg-expense-date"  data-toggle="toggle">
        <input type="checkbox" checked>
        <div class="toggle-group">
          <label class="toggle-on btn btn-lg btn-success">12-12-2013</label>
          <label class="toggle-off btn btn-lg btn-danger"><strong>Choose Expense Date</strong></label>
          <span class="toggle-handle btn btn-lg btn-primary"></span>     
        </div>
      </div>
      <a href="javascript:void(0)" class="input-group-addon expense-param-edit remove-top-gutter remove-bottom-gutter">
        <i class="icon-pencil icon-light icon-child"></i>
      </a>
    </div>
  
    <div class="input-group">
      <span class="input-group-addon remove-top-gutter remove-bottom-gutter">
        <span class="icon-stack">
          <i class="icon-sign-blank icon-stack-base"></i>
          <i class="icon-group icon-light icon-child"></i>
        </span>
      </span>
      <!-- Green to Red -->
      <div class="mg-expense-toggle toggle off btn btn-lg btn-success" target-element="#mg-expense-group" data-toggle="toggle">
        <input type="checkbox" checked>
        <div class="toggle-group">
          <label class="toggle-on btn btn-lg btn-success">Chennai Warriors CC</label>
          <label class="toggle-off btn btn-lg btn-danger"><strong>Choose Group</strong></label>
          <span class="toggle-handle btn btn-lg btn-primary"></span>     
        </div>
      </div>
      <a href="javascript:void(0)" class="input-group-addon expense-param-edit remove-top-gutter remove-bottom-gutter">
        <i class="icon-pencil icon-light icon-child"></i>
      </a>
    </div>

    <div class="input-group">
      <span class="input-group-addon remove-top-gutter remove-bottom-gutter">
        <span class="icon-stack">
          <i class="icon-sign-blank icon-stack-base"></i>
          <i class="icon-user icon-light icon-child"></i>
        </span>
      </span>
      <!-- Green to Red -->
      <div class="mg-expense-toggle off toggle btn btn-lg btn-success" data-toggle="toggle" target-element="#mg-expense-payer">
        <input type="checkbox" checked>
        <div class="toggle-group">
          <label class="toggle-on btn btn-lg btn-success">Balaji</label>
          <label class="toggle-off btn btn-lg btn-danger"><strong>Choose Expense Spender</strong></label>
          <span class="toggle-handle btn btn-lg btn-primary"></span>     
        </div>
      </div>
      <a href="javascript:void(0)" class="input-group-addon expense-param-edit remove-top-gutter remove-bottom-gutter">
        <i class="icon-pencil icon-light icon-child"></i>
      </a>
    </div>

    <div class="input-group">
      <span class="input-group-addon remove-top-gutter remove-bottom-gutter">
        <span class="icon-stack">
          <i class="icon-sign-blank icon-stack-base"></i>
          <i class="icon-sitemap icon-light icon-child"></i>
        </span>
      </span>
      <!-- Green to Red -->
      <div class="mg-expense-toggle toggle off btn btn-lg btn-success" data-toggle="toggle"  target-element="#mg-expense-beneficiary" >
        <input type="checkbox" checked>
        <div class="toggle-group">
          <label class="toggle-on btn btn-lg btn-success">Split Equally</label>
          <label class="toggle-off btn btn-lg btn-danger"><strong>Choose Expense Benefactors</strong></label>
          <span class="toggle-handle btn btn-lg btn-primary"></span>     
        </div>
      </div>
      <a href="javascript:void(0)" class="input-group-addon expense-param-edit remove-top-gutter remove-bottom-gutter">
        <i class="icon-pencil icon-light icon-child"></i>
      </a>
    </div>

    <div class="input-group">
      <span class="input-group-addon remove-top-gutter remove-bottom-gutter">
        <span class="icon-stack">
          <i class="icon-sign-blank icon-stack-base"></i>
          <i class="icon-tags icon-light icon-child"></i>
        </span>
      </span>
      <!-- Green to Red -->
      <div class="toggle off btn btn-lg btn-success" data-toggle="toggle">
        <input type="checkbox" checked>
        <div class="toggle-group">
          <label class="toggle-on btn btn-lg btn-success">Food, Entertainment +2</label>
          <label class="toggle-off btn btn-lg btn-default"><strong>Choose Categories</strong></label>
          <span class="toggle-handle btn btn-lg btn-primary"></span>     
        </div>
      </div>
      <a href="javascript:void(0)" class="input-group-addon expense-param-edit remove-top-gutter remove-bottom-gutter">
        <i class="icon-pencil icon-light icon-child"></i>
      </a>
    </div>
    
    <br/>    
    <div class="form-group pull-right">
      <div class="col-xs-12">
        <button class="btn btn-default">Cancel</button> 
        <%= f.submit "Save", id: "mg-transactions-create-btn", class: "btn btn-primary", disable_with: "Saving..." %>
      </div>
    </div>
  </fieldset>
</div>

<%= render :partial => "transactions/modals/expense_date" %>
<%= render :partial => "transactions/modals/expense_group" %>
<%= render :partial => "transactions/modals/expense_spender", :locals => {:friends => user_friends}  %>
<%= render :partial => "transactions/modals/expense_benefactors", :locals => {:friends => user_friends} %>

<script type="text/javascript">
  jQuery('.mg-expense-toggle').on('switch-on', this, function(){
    jQuery(jQuery(this).attr('target-element')).modal('show');
  })
</script>