<div id="mg-transaction-create">
  <fieldset>
    <div class="input-group">
      <span class="mg-tooltip input-group-addon remove-top-gutter remove-bottom-gutter" data-toggle="tooltip" data-placement="right" data-original-title="Expense Group">
        <span class="icon-stack">
          <i class="icon-sign-blank icon-stack-base"></i>
          <i class="icon-sitemap icon-light icon-child"></i>
        </span>
      </span>
      <!-- Green to Red -->
      <div id="mgexpensegroup" class="mg-expense-toggle toggle btn btn-lg btn-success" target-element="#mg-expense-group">
        <input type="checkbox" checked>
        <div class="toggle-group">
          <label class="toggle-on btn btn-lg btn-success"><%= @defaultgroup.name %></label>
        </div>
      </div>
      <a href="javascript:void(0)" class="input-group-addon expense-param-edit remove-top-gutter remove-bottom-gutter" data-toggle="modal" data-target="#mg-expense-group">
        <i class="icon-pencil icon-light icon-child"></i>
      </a>
    </div>

    <div class="input-group">
      <span class="mg-tooltip input-group-addon remove-top-gutter remove-bottom-gutter" data-toggle="tooltip" data-placement="right" title="" data-original-title="Expense Amount">
        <span class="icon-stack">
          <i class="icon-sign-blank icon-stack-base"></i>
          <i class="icon-money icon-light icon-child"></i>
        </span>
      </span>
      <%= f.text_field :amount, :value => f.object.amount, :type => 'number', :class => "text-center form-control", :placeholder => "0.00" %>
      <a href="javascript:void(0)" class="input-group-addon expense-param-edit remove-top-gutter remove-bottom-gutter" onclick="jQuery('#transaction_amount').focus();">
        <i class="icon-pencil icon-light icon-child"></i>
      </a>
    </div>

    <%= f.hidden_field :remarks %>
    
    <div class="input-group">
      <span class="mg-tooltip input-group-addon remove-top-gutter remove-bottom-gutter" data-toggle="tooltip" data-placement="right" title="" data-original-title="Expense Date">
        <span class="icon-stack">
          <i class="icon-sign-blank icon-stack-base"></i>
          <i class="icon-calendar icon-light icon-child"></i>
        </span>
      </span>
      <!-- Green to Red -->
      <div id="mgexpensedate" class="mg-expense-toggle toggle btn btn-lg btn-success">
        <input type="checkbox" checked>
        <div class="toggle-group">
          <label class="toggle-on btn btn-lg btn-success"><%= (f.object.txndate  || Time.now).strftime("%F") %></label>
        </div>
      </div>
      <a href="javascript:void(0)" class="input-group-addon expense-param-edit remove-top-gutter remove-bottom-gutter" data-toggle="modal" data-target="#mg-expense-date">
        <i class="icon-pencil icon-light icon-child"></i>
      </a>
    </div>

    <%= f.hidden_field :user_id, :value => f.object.user_id %>

    <div class="input-group">
      <span class="mg-tooltip input-group-addon remove-top-gutter remove-bottom-gutter" data-toggle="tooltip" data-placement="right" title="" data-original-title="Expense Benefactors">
        <span class="icon-stack">
          <i class="icon-sign-blank icon-stack-base"></i>
          <i class="icon-sitemap icon-light icon-child"></i>
        </span>
      </span>
      <!-- Green to Red -->
      <% benefactors_amount = f.object.transactions_users.collect(&:amount).compact.sum %>
      <div id="mgexpensebeneficiary" class="mg-expense-toggle toggle <%= benefactors_amount > 0 ? "" : "off" %> btn btn-lg btn-success" data-toggle="toggle"  target-element="#mg-expense-beneficiary" >
        <input type="checkbox" checked>
        <div class="toggle-group">
          <label class="toggle-on btn btn-lg btn-success"><%= Transaction::TRANSACTION_TYPES[f.object.transaction_type || 1] %></label>
          <label class="<%= benefactors_amount > 0 ? '' : 'toggle-off' %> btn btn-lg btn-danger"><strong>Choose Benefactor</strong></label>
          <span class="toggle-handle btn btn-lg btn-primary"></span>     
        </div>
      </div>
      <a href="javascript:void(0)" class="input-group-addon expense-param-edit remove-top-gutter remove-bottom-gutter"  onclick="Transaction.toggleModalSwitch('#mgexpensebeneficiary');">
        <i class="icon-pencil icon-light icon-child"></i>
      </a>
    </div>

    <%= f.hidden_field :category, :value => f.object.category %>
    
    <br/>
    <div class="text-center">
      <%= link_to "Cancel", transactions_path, :class => "btn btn-default" %>
      <%= f.submit "Save", id: "mg-transactions-create-btn", class: "btn btn-primary", disable_with: "Saving..." %>
    </div>
    <%= f.hidden_field :enteredby, :value => (f.object.enteredby || current_user.id.to_s) %>
    <%= f.hidden_field :actors, :value => f.object.actors %>
  </fieldset>
</div>

<%= render :partial => "transactions/modals/expense_date", :locals => {:f => f} %>
<%= render :partial => "transactions/modals/expense_group", :locals => {:f => f, :redirect_path => settle_up_transactions_path} %>
<%= render :partial => "transactions/transaction_types/settlement", :locals => {:f => f} %>

<script type="text/javascript">
  jQuery('.mg-expense-toggle').on('switch-on', this, function(){
    jQuery(jQuery(this).attr('target-element')).modal('show');
  })

  jQuery('#transaction_amount').on('input', function(){
    Transaction.setTransactionUserAmount();  
  })
</script>