<div id ="viewacctran" class="clearfix">
  <% if tran.blank? %>
    <div class="well">
      Sorry, No Transactions Found
    </div>
  <%  else %>
    <% if filtered_transactions.present? %>
      <% transaction_group = filtered_transactions.first.group_name %>
      <% transaction_group_id = filtered_transactions.first.group_id %>
    <%end%>
    <%= will_paginate filtered_transactions, previous_label: h("<"), next_label: h(">"), :params => { :controller => "transactions", :action => "index", :groupid => transaction_group_id} %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t("activerecord.attributes.transaction.remarks", :default => t("activerecord.labels.remarks", :default => "Transaction")) %>    </th>
          <th>Amount</th>
          <th>Details</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% tran.each do |transaction| %>
          <tr>
            <td><%= link_to truncate(transaction.remarks, :length => 35), transaction_path(transaction) %></td>
            <td>Rs. <%= transaction.amount %></td>
            <td><%= transaction.details %> </td>
            <td><%= transaction.txndate.strftime("%Y-%m-%d") %></td>
            <td>
              <% if can?(:change, Transaction.find_by_id(transaction.id)) %>

                <%= link_to(edit_transaction_path(transaction)) do %>
                  <i class='icon-pencil'></i>
                <% end %>
                <%= link_to(transaction_path(transaction), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}") do %>
                  <i class='icon-trash'></i>
                <% end %>
              <% else %>
                &nbsp;
              <% end %>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
    <%= will_paginate filtered_transactions, previous_label: h("<"), next_label: h(">"), :params => { :controller => "transactions", :action => "index", :groupid => transaction_group_id} %>
  <% end %>
</div>