<h1>My Profile</h1><br/>
<% @uniquegroups.each do |group| -%>
<div class="group_header well">
    <h4> <%=  group[:groupname] %> </h4><%=  link_to "View", {:action => 'index'}, {:class => 'headerlinks'} %><%=  link_to "Manage", {:action => 'index'}, {:class => 'headerlinks'} %>
</div>

<% @uniqueaccounts.collect { |account| account if group[:groupname] == account[:groupname]}.each do |account| -%>
<% if account  %>
<div class="group_header well">
    <h4> <%=  account[:accountname] %></h4><%=  link_to "View", {:action => 'index'}, {:class => 'headerlinks'} %><%=  link_to "Manage", {:action => 'index'}, {:class => 'headerlinks'} %>
</div>

<table class="table table-striped">
 <thead>
  <tr>
    <th>User</th>
    <th>Investments</th>
    <th>Expenditures</th>
    <th>Balance</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @balance.collect {|bal| bal if (account[:groupname] == bal.group_name && account[:accountname] == bal.account_name) }.each do |balance| -%>
   <% if balance %>
    <tr>
    <td><%= balance.user_name %></td>
    <td><%= balance.investments %></td>
    <td><%= balance.expenditures %></td>
    <td><%= balance.investments - balance.expenditures %></td>
    <td>
      <% if balance.investments - balance.expenditures > 0 -%>
        <%= link_to "Request Payment" %>
      <%else%>
        <%= link_to "Make Payment" %>
      <% end -%>
    </td>
    </tr>
    <% end end -%>
   </tbody>
</table>
<% end end -%>
<% end -%>


