<h1>My Profile</h1><br/>
<% if @hasagroup.nil? %>
  New to Magic Accounts ? Start over ! <br/><br/>
  <strong><%= link_to "Create New Group", new_group_path, :method => "get", :class => 'btn primary' %></strong>
<% elsif @hasanaccount.nil? %>
  We see you are part of one or more groups. add an account to start tracking your transactions <br/><br/>
  <strong><%= link_to "Create New Account", new_account_path, :method => "get", :class => 'btn primary' %></strong>
<% elsif  @uniquegroups == [] %>
  Add transactions and start tracking them now !<br/><br/>
  <strong><%= link_to "Create New Transaction", new_transaction_path, :method => "get", :class => 'btn primary' %></strong>
<% else %>
<% @uniquegroups.each do |group| -%>
<div class="group_header wellblue">
    <h4> <%=  Group.find(group[:groupid]).name %> </h4>
    <% if Group.find(group[:groupid]).user_id == session[:user_id] %>
    <h5>(Owner)</h5>
    <%else%>
    <h5>(Member)</h5>
    <%end%>
    
    <%= link_to "Create Account", { :controller => 'accounts', :action => 'new', :groupid => group[:groupid] },:method => "get", :class => 'btn primary' %>
    <% if Group.find(group[:groupid]).user_id == session[:user_id] %>
      <%=  link_to "Manage Group", {:controller => 'groups', :action => 'index'}, {:class => 'headerlinks'} %>
    <%end%>
    
</div>

<% @uniqueaccounts.collect { |account| account if group[:groupid] == account[:groupid]}.each do |account| -%>
<% if account  %>
<div class="group_header wellgreen">
    <h4> <%=  Account.find(account[:accountid]).name %></h4>
    <% if Account.find(account[:accountid]).user_id == session[:user_id] %>
    <h5>(Owner)</h5>
    <%else%>
    <h5>(Member)</h5>
    <%end%>
    <%= link_to "Enter Transaction", { :controller => 'transactions', :action => 'new', :accountid => account[:accountid] }, :accountid => group[:accountid],:method => "get", :class => 'btn success' %>
    <%=  link_to "View Transactions", {:controller => 'transactions', :action => 'view', :accountid => account[:accountid]}, {:class => 'btn success'} %>
    <% if Account.find(account[:accountid]).user_id == session[:user_id] %>
    <%=  link_to "Manage Account", {:controller => 'accounts', :action => 'index'}, {:class => 'headerlinks'} %>
    <%end%>
    
    
</div>

<table class="table table-striped">
 <thead>
  <tr>
    <th>User</th>
    <th>Investments</th>
    <th>Expenditures</th>    
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @balance.collect {|bal| bal if (account[:groupid] == bal.group_id && account[:accountid] == bal.account_id) }.each do |balance| -%>
   <% if balance %>
    <tr>
    <td><%= balance.user_name == User.find(session[:user_id]).name ? "Myself" : balance.user_name %></td>
    <td><%= balance.investments %></td>
    <td><%= balance.expenditures %></td>
    
    <td>
      <% if balance.investments - balance.expenditures < 0 -%>
      Pay <%= balance.user_name %> Rs. <%= balance.expenditures - balance.investments %> 
      <% elsif balance.investments - balance.expenditures > 0  %>
      Request <%= balance.user_name %> Rs. <%= balance.investments - balance.expenditures %> 
      <% end -%>
    </td>
    </tr>
    <% end end -%>
   </tbody>
</table>
<% end end -%>
<% end end -%>


