<div class="group_header wellgroup">
  <div class="group_image_container">
    <%= image_tag('icons/Profile32x32.png', :size => "27x27") %>
  </div>
  <div class="group_information">
    <h3> My Profile </h3>
    <button class="btn primary" onClick="Utilities.redirectTo(event,'<%= new_group_path %>');" type="button">Create Group</button>
  </div>
</div>
<% if current_user.groups.blank? %>
  <div class="wellempty">
    New to Magic Accounts ? Start over by creating a Group !
  </div>
<% else %>
  <div id="group_tree" class="accordion">
    <% current_user.groups.each_with_index do |group,index| -%>
      <div class="accordion-group">
        <div class="accordion-heading"  group_id="<%= group.id %>">
          <a <%= "href='#group_#{group.id}' data-parent='#group_tree' data-toggle='collapse' class='accordion-toggle'"%>>
            <div class="group_image_container">
              <%= image_tag('icons/Group32x32.png', :size => "27x27") %>
            </div>
            <div class="group_information">
              <h3> <%=  group.name %> </h3>
              <% if group.user == current_user %>
                <h5>(Owner)</h5>
              <%else%>
                <h5>(Member)</h5>
              <%end%>
              <strong><button class="btn primary" onClick="Utilities.redirectTo(event,'<%= transactions_path(:groupid => group.id) %>');" type="button">Transactions</button></strong>
              <% if group.user == current_user %>
                <button class="btn primary" onClick="Utilities.redirectTo(event,'<%= group_path(group) %>');" type="button">Manage</button>
              <%end%>
            </div>
          </a>
        </div>
        <div <%= "class='accordian-body #{index == 0 ? "in' style='height: auto;'" : "collapse'"} id='group_#{group.id}'" %>>
          <div class="accordion-inner">
            <% transactions_by_group = @user_group_balance.try(:select) {|bal| bal if (group.id == bal.group_id) }%>
            <% if transactions_by_group.blank? %>
              <div class="wellempty account_block">
                You have no transactions for this group. <%= link_to "Add Transactions", transactions_path(:groupid => group.id, :open_new_form => true) %>
              </div>
            <%else%>
              <table class="table table-striped table-bordered account_block">
                <thead>
                  <tr>
                    <th><i class="center_align icon-user"></i> User</th>
                    <th class="center_align"><i class="icon-eye-open"></i> Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% transactions_by_group.each do |balance| -%>
                    <% if balance %>
                    <% total_investment = balance.investments.round %>
                    <% total_expenditure = balance.expenditures.round %>
                    <% balance_user = User.find(balance.user_id) %>
                      <tr>
                        <td class="center_align"><%= render_user_image(balance_user, :render_user_name => true) %></td>
                        <td class="center_align">
                          <% if total_investment - total_expenditure < 0 %>
                            <span class="balance-label label-important">Rs. <%= total_expenditure - total_investment %></span>
                          <% elsif total_investment - total_expenditure > 0  %>
                            <span class="balance-label label-success">Rs. <%= total_investment - total_expenditure %></span>
                          <% else %>
                            <span class="balance-label label-info">Rs. <%= "0" %></span>
                          <% end -%>
                        </td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            <% end -%>
          </div>
        </div>
      </div>
    <% end -%>
  </div>
<% end %>

<script type="text/javascript">
  jQuery(document).ready(function() { 
    jQuery('.accordion-heading').click(function(){
      var group_id = jQuery(this).attr('group_id');
      jQuery("#balance_group_select").select2("val", [group_id]);
      Transaction.getUserBalance("<%= get_group_balance_transactions_url %>", group_id);
    })
  });
</script>