<fieldset class = "dash">
  <br/>
     <div class="btn btn-warning col-sm-4">
      Balance<h4><%= @master_balance[:master_balance].abs %></h4>
    </div>
    <div class="btn btn-danger col-sm-4">
      You Owe<br/><h4><%= @master_balance[:expenses] %></span></h4>
    </div>  
    <div class="btn btn-success col-sm-4">
      You Paid<br/><h4><%= @master_balance[:investments] %></i></h4>
    </div>
<br/><br/>
<% if other_user_transactions_exist(current_user) %>
  <div class="well col-sm-12">
    <div class="text-center"><h4>
    "Sorry, You have no transactions yet. "</h4></div>
  </div>
<% else %>
<div class="text-center text-success col-xs-6" >
<h3>  You Get </h3>
</div>
<div class = "text-center text-danger col-xs-6">
  <h3>You Pay</h3>
</div>
<% @summary.each do|entry| %>
  <%= render_summary_info(entry[0]) %>
    <%= render_summary_info(entry[1]) %>
<% end %>
<% end %>
  </fieldset>
