<%= render(:partial => 'magic_mailer/header') %>
<div style="padding-left: 10px">
Dear User,<br/> <br/>

<p align="justify"><%= @user + " " %> has added you to the group <%= @group.name %> ! Follow the below link to view the group,</p>
<a href="<%= "http://magicaccounts.herokuapp.com/groups/" + @group.code + "/adduser" %>">Click here to view <%= @group.name %></a>

<br/><br/>
Cheers,<br/>
Admin, Magic Accounts<br/>
<br/><br/>
<%= render(:partial => 'magic_mailer/footer') %>
</div>
