<!--Body content-->
<div class="col-sm-12">
  <div class="jumbotron">
    <% if @user.present? %>
      <%= yield %>
    <% else %>
      <h1>Managing expenses made easy</h1>
      <%= render :partial => "common/user_testimonials" %>
      <div class = "btn btn-danger btn-lg" type = "button">
        Sign Up Today
        <a data-toggle="modal" href="/users/new" data-target="#modal" >
          <%= image_tag "email_icon.png", :size => "32x32",:alt=> "Email" ,:title => "Email"%>
        </a>
        <%= link_to "/auth/facebook" do %>
          <%= image_tag "facebook_32.png",:size =>"32x32",:alt=>"Facebook", :title => "Facebook"%>
        <% end %>
        <%= link_to "/auth/google_oauth2" do %>
          <%= image_tag "google_32.png",:size => "32x32",:alt=> "Google" ,:title => "Google"%>
        <% end %>
      </div>
    <% end %> 
  </div>
</div>

<div id="mg-four-col-feature">
    <% STATIC_TEXT::FOUR_COLUMN_FEATURE_HOMEPAGE.each do |feature_item| %>
      <%= render :partial => "common/feature_4_column_static", :locals => feature_item %>
    <% end %>
</div>

<div class="modal fade" id="modal">
</div>



