<div class="clearfix advanced_filter_container" style="display: <%= "#{@advanced == "false" ? "none" : "block"};" %>">
  <%= form_tag reports_path, :method => :get, :id => "report_filter_form" do %>
  <%= label_tag :option, t("activerecord.attributes.transaction.user_id", :default => "Date Range"), :class => :label %>
  <div class="input">
    <%= select_tag  :option,
                    options_for_select([["Overall"],["Last Week"],["Last Month"],["Custom Range"]], @option || "Overall"),
                    :class => 'selectwidth',
                    :id => 'report_date_option',
                    :selected => @option.to_s %>
  </div>
  <div id="dynamic_date_range" class="clearfix" style="display: <%="#{@option=="Custom Range" ? "block" : "none" };"%>;">
    <div class="report_start_date clearfix">
      <%= label_tag :from, t("activerecord.attributes.transaction.txndate", :default => "From"), :class => :label %>
      <div class="input">
        <%= text_field_tag :report_start_date, @start_date || Date.today, :class => "date_select" %>
      </div>
    </div>
    <div class="report_end_date clearfix">
      <%= label_tag :to, t("activerecord.attributes.transaction.txndate", :default => "To"), :class => :label %>
      <div class="input">
        <%= text_field_tag :report_end_date, @end_date || Date.today, :class => "date_select" %>
      </div>
    </div>
  </div>
  <%= hidden_field_tag :advanced, :value => @advanced, :id => "toggle_advance_filter" %>
  <div class="clearfix">
    <button class="btn primary submit_report" type="submit">Generate Report</button>
  </div>
  <% end %>
</div>
<div class="clearfix">
  <a href="javascript:void(0)" id="advanced_filter_link"><%= "#{@advanced == "false" ? "Show Advanced" : "Hide Advanced"}"%></a>
</div>
<div id="report_tree" class="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a href='#bycategory' data-parent='#report_tree' data-toggle='collapse' class='accordion-toggle'>
        <div class="group_image_container">
          <%= image_tag('icons/Transaction32x32.png', :size => "27x27") %>
        </div>
        <div class="group_information">
          <h3> <%=  "Analysis by Category" %></h3>
        </div>
      </a>
    </div>
    <div class='accordian-body in' style='height: auto;' id='bycategory'>
      <div class="accordion-inner">
        <div class="group_header wellaccount">
          <div class="group_information">
            <h3>Spend Distribution</h3>
          </div>
        </div>
        <div class="chart_bycategory">
          <%= chart_tag('spend_by_category', 350, :start_date => @start_date, :end_date => @end_date) %>
        </div>
        <div class="group_header wellaccount">
          <div class="group_information">
            <h3>No of Transactions</h3>
          </div>
        </div>
        <div class="chart_bycategory">
          <%= chart_tag('transaction_count_by_category', 350, :start_date => @start_date, :end_date => @end_date) %>
        </div>
        <div class="group_header wellaccount">
          <div class="group_information">
            <h3>Average Spend Per Transaction</h3>
          </div>
        </div>
        <div class="chart_bycategory">
          <%= chart_tag('avg_spend_by_category', 350, :start_date => @start_date, :end_date => @end_date) %>
        </div>
      </div>
    </div>
    <div class="accordion-heading">
      <a href='#byaccount' data-parent='#report_tree' data-toggle='collapse' class='accordion-toggle'>
        <div class="group_image_container">
          <%= image_tag('icons/Transaction32x32.png', :size => "27x27") %>
        </div>
        <div class="group_information">
          <h3> <%=  "Analysis by Group" %></h3>
        </div>
      </a>
    </div>
    <div class='accordian-body collapse' id='byaccount'>
      <div class="accordion-inner">
        <div class="group_header wellaccount">
          <div class="group_information">
            <h3>Spend Distribution</h3>
          </div>
        </div>
        <div class="chart_byaccount">
          <%= chart_tag('spend_by_account', 350, :start_date => @start_date, :end_date => @end_date) %>
        </div>
        <div class="group_header wellaccount">
          <div class="group_information">
            <h3>No of Transactions</h3>
          </div>
        </div>
        <div class="chart_bycategory">
          <%= chart_tag('transaction_count_by_account', 350, :start_date => @start_date, :end_date => @end_date) %>
        </div>
        <div class="group_header wellaccount">
          <div class="group_information">
            <h3>Average Spend Per Transaction</h3>
          </div>
        </div>
        <div class="chart_bycategory">
          <%= chart_tag('avg_spend_by_account', 350, :start_date => @start_date, :end_date => @end_date) %>
        </div>
      </div>
    </div>
  </div>
</div>